body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  flex: 1;
}

.navbar {
  background: rgba(255, 0, 0, 0.8);
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 45px;
  font-weight: 600;
  color: rgb(251, 255, 0);
  text-decoration: none;
}
.logo a:hover {
  font-size: 50px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 15px;
}

li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

li a:hover {
  color: yellow;
}

button{
  background-color: black; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
}
button:hover{
  background-color: white;
}
button a{
  color: white; font-weight: bold; font-size: 15px;
}
button a:hover{
  color: black;
}

.scroll-text {
  font-family: 'Brush Script MT', cursive;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #FFFF00; /* Background color */
  padding: 0.6cm;
  color: #000000; /* Text color */
  font-size: 6ex;
  line-height: 1.3em;
}
header {
  background-color: #ffcc00; /* Yellow */
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid #ff0000; /* Red */
}

h1 {
  margin: 0;
  font-size: 2.5em;
  color: #000; /* Black */
}

main {
  padding: 20px;
}

.announcement {
  background-color: #000; /* Black */
  color: #ffcc00; /* Yellow */
  border: 2px solid #ff0000; /* Red */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}

.date {
  font-weight: bold;
  color: #ff0000; /* Red */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ffcc00; /* Yellow */
  border-top: 5px solid #ff0000; /* Red */
  position: relative;
  bottom: 0;
  width: 100%;
}