body {
  font-family: 'Arial', sans-serif;
 background-color: #fff5bf;
  margin: 0;
  padding: 0;
}
.container {
  flex: 1;
}

.navbar {
  background: rgba(255, 0, 0, 0.8);
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 45px;
  font-weight: 600;
  color: rgb(251, 255, 0);
  text-decoration: none;
}
.logo a:hover {
  font-size: 50px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 15px;
}

li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

li a:hover {
  color: yellow;
}

button{
  background-color: black; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
}
button:hover{
  background-color: white;
}
button a{
  color: white; font-weight: bold; font-size: 15px;
}
button a:hover{
  color: black;
}

.scroll-text {
  font-family: 'Brush Script MT', cursive;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #FFFF00; /* Background color */
  padding: 0.6cm;
  color: #000000; /* Text color */
  font-size: 6ex;
  line-height: 1.3em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.stat {
  background: #00ffea;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  transition: transform 0.3s;
}

.stat:hover {
  transform: translateY(-5px);
}

.number {
  font-size: 2.5em;
  font-weight: bold;
}

h1 {
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 2.5em;
}

.team {
  display: flex;
  flex-wrap: wrap
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 40px;
  font-size: 2.5em;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member {
  background: #ffa600;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 250px;
  transition: transform 0.3s;
}

.member:hover {
  transform: translateY(-5px);
}

.member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

h2 {
  color: #000000;
  font-size: 1.5em;
  margin: 10px 0;
}
h3{
  color: #ffffff; font-size: 1.6em; font-weight: 600;
}
p {
  color: #000000;
  font-size: 1em;
}
/* Footer Style */
.footer {
  background: #000;
  color: #ffcc00;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  border-top: 2px solid #ffcc00;
  position: relative;
  z-index: 1;
}

.footer-address {
  font-size: 16px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.footer-copy {
  font-size: 14px;
  opacity: 0.6;
}